<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>5WC Login</title>
</head>
<body>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrfToken = getCookie('csrftoken');

    function logout() {
        fetch("/auth/session/logout/").then(() => {
            location.reload()
        })
    }

    function delete_account() {
        fetch("/auth/session/delete_account/", {
            method: "delete",
            // unsafe method, csrf token required. may consider exempting csrf on backend...
            headers: {'X-CSRFToken': csrfToken}
        }).then(() => {
            location.reload()
        })
    }

    function login() {
        fetch("/auth/session/login/").then(response => {
            if (response.status === 200) {
                location.reload();
            }

            // if login failed, write message on why it failed
            response.text().then(text => {
                document.getElementById("login-btn-text").textContent = `${response.status}: ${response.statusText} | ${text}`;
            })
        })
    }

    function discord_login() {
        location.href = `/auth/discord/prompt_login/?return_page=${encodeURI(window.location.pathname)}`;
    }

    function osu_login() {
        location.href = `/auth/osu/prompt_login/?return_page=${encodeURI(window.location.pathname)}`;
    }

</script>
<p>please log in with discord and osu! first</p>
<p>if you don't already have an account, one will be automatically created when you click login</p>

<div><span>discord: </span><span id="discord">loading...</span>
    <button onclick="discord_login()">login with discord</button>
</div>
<div><span>osu: </span> <span id="osu">loading...</span>
    <button onclick="osu_login()">login with osu!</button>
</div>
<div><span>5wc user: </span> <span id="5wc">loading...</span></div>

<div>
    <button onclick="login()" id="login-button">log in</button>
    <span id="login-btn-text"></span>
</div>
<button onclick="logout()" id="logout-button" disabled>log out</button>
<button onclick="delete_account()" id="delete-account-btn" disabled>delete account</button>
<script>
    console.log("Hi");
    const discord = document.getElementById("discord");
    const osu = document.getElementById("osu");
    const fivewc = document.getElementById("5wc");
    fetch("/auth/session/").then(resp => resp.json()).then(data => {
        console.log(data);

        osu.textContent = "not logged in"
        discord.textContent = "not logged in"
        fivewc.textContent = "not logged in"
        let logged_in = 0
        if ('discord' in data) {
            if (data.discord != null && 'id' in data.discord) {
                discord.textContent = `${data.discord.username} (${data.discord.id})`
                logged_in++;
            }
        }

        if ('osu' in data) {
            if (data.osu != null && 'id' in data.osu) {
                osu.textContent = `${data.osu.username} (${data.osu.id})`
                logged_in++;
            }
        }

        if ('logged_in_user' in data && data.logged_in_user && 'logged_in_user_id' in data) {
            fivewc.textContent = `${data.logged_in_user_id} ("${data.logged_in_user}")`
            document.getElementById("logout-button").disabled = false;
            document.getElementById("delete-account-btn").textContent = `delete 5wc account ${data.logged_in_user}`;
            document.getElementById("delete-account-btn").disabled = false;
            logged_in++;
        }

        if (logged_in === 2) {
            document.getElementById("login-button").disabled = false;
        }
    })
</script>
</body>
</html>
