DB_NAME=5digitworldcup2024
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=3306
MYSQL_ATTR_SSL_CA=/etc/ssl/certs/ca-certificates.crt

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

TEAM_ROSTER_SIZE_MIN=6  # default 6 if not defined
TEAM_ROSTER_SIZE_MAX=8  # default 8 if not defined
TEAM_ROSTER_BACKUP_SIZE_MAX=3  # default 3 if not defined

DJANGO_SECRET_KEY=CHANGE-ME-CHANGE-ME-CHANGE-ME-CHANGE-ME-CHANGE-ME-CHANGE-ME
DJANGO_DEBUG=false

#ALLOWED_SCHEMES=https  # defaults to 'https'
#FRONTEND_DOMAIN=  # defaults to 'vps.5wc.stagec.xyz'
#ALLOWED_HOSTS=  # defaults FRONTEND_DOMAIN, uncomment for comma-separated domains for CORS and CSRF trusted origins
#ALLOWED_PORTS=  # defaults to 443

DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET=
DISCORD_PSK=  # pre-shared key used for authenticating requests made by discord bot

OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# in unix timestamp
REGISTRATION_START=1705946400
REGISTRATION_END=1707696000
ROSTER_SELECTION_END=1708214400
