.idea/
logs/

**/*.idea/
**/obj/
**/bin/
**/appsettings.json
**/appsettings.Development.json
**/__pycache__
/db.sqlite3
.DS_Store
/.env
/userauth/management/commands/_guild_data.json
/userauth/management/commands/_osu_data.json
